<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.slowchat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.MainLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainInterface.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MakeFriendHall.MakeFriendHall"
            android:label="@string/title_activity_make_friend_hall"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatManage.ChatInterface"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowActionBar="false"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".ChatManage.ChatManageSearch"
            android:label="@string/title_activity_chat_manage_search"></activity>
        <activity
            android:name=".FriendManage.FriendInfoActivity"

            android:label="@string/title_activity_friend_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Login.Register">
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_friend_info"></activity>
        <activity
            android:name=".MakeFriendHall.AddFriendActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_friend_info">
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>