<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/chat</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">v</property>
    <property name="connection.password">008748</property>
      <mapping resource="entity/FriendEntity.hbm.xml"/>
      <mapping class="com.chat.entity.FriendEntity"/>
      <mapping resource="entity/FriendApplyEntity.hbm.xml"/>
      <mapping class="com.chat.entity.FriendApplyEntity"/>
      <mapping resource="entity/MessageEntity.hbm.xml"/>
      <mapping class="com.chat.entity.MessageEntity"/>
      <mapping resource="entity/TagEntity.hbm.xml"/>
      <mapping class="com.chat.entity.TagEntity"/>
      <mapping resource="entity/UserEntity.hbm.xml"/>
      <mapping class="com.chat.entity.UserEntity"/>
      <mapping class="com.chat.entity.UserTagEntity"/>
      <mapping resource="entity/UserTagEntity.hbm.xml"/>

      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>